node_modules/
dist/
build/
.vite/
*.log
coverage/
.env
.env.*
.DS_Store
public/assets/4cheese1.jpg
public/assets/4cheese2.jpg
public/assets/margarita1.jpg
public/assets/margarita2.jpg
public/assets/margarita3.jpg
